replicaCount: 1

image:
  repository: hello-world-python
  pullPolicy: IfNotPresent
  tag: "1.0.0"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

service:
  type: NodePort
  port: 8080
  targetPort: 8080

ingress:
  enabled: false

resources: {}

autoscaling:
  enabled: false

livenessProbe:
  httpGet:
    path: /
    port: http

readinessProbe:
  httpGet:
    path: /
    port: http
